body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    
}

#weatherCard {
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
}

.hidden {
    display: none;
}

.error {
    color: red;
    margin-top: 10px;
}
